/* Here is my body */
body {
    background-color: #78C5D7;
    text-align: center;
    margin: 0;
}

.logo-link {
    display: block;
    text-align: center;
}

/* Here is my nav */
.menu a, .menu a:visited {
    color: #fae173;
}

.menu ul {
    list-style-type: none;
}

/* Here is my Hero Banner*/
#hero-banner img {
    width: 100%;
}





