/* Here is my body */
body {
    background-color: #78C5D7;
    margin: 0;
}

.logo-link {
    display: block;
}

/* Here is my nav */
.menu a, .menu a:visited {
    color: #FFFFFF;
}

/* Here is my Hero Banner*/
#hero-banner img {
    width: 100%;
}

/* Max Width and Margins */
#content{
    max-width: 1600px;
    margin: 0 auto;

}

/* centering text */
#hero-msg h1, #hero-msg h4{
    text-align: center;
}

.button-box{
    text-align: center;
}

main section{
    text-align: center;
}

/* background for cards */

#background{
    height: 725px;
}

/* backgrounds for texts and text color */
header{
    background-color: #134266;
}
.menu a:hover{
    background-color: #fae173;
    color: #134266;
}

.book, .join{
    background-color: #fae173;
    color: #134266;
}

.book:hover, .join:hover{
    background-color: #134266;
    color:#FFFFFF
}

.msg{
    background-color: #ffffff;
}

footer{
    background-color: #134266;
}


/* text colors */
.main a, .main a:visited:hover{
    color: #78C5D7
}

.msg h2 {
color: #134266;
}

.msg p{
color: #134266;
}

footer{
color: #FFFFFF;
font-size: 1.2em;
}

footer a{
color: #FFFFFF;

    text-decoration: none;
}

footer a:hover{
color: #fae173;
text-decoration: underline;
}

/* image widths */
.logo-link img{
    width: 80px
}
.card-img{
    width: 25em;
}

/* formatting */
nav a{
    text-decoration: none;
}

.book, .join{
    text-decoration: none
}
