body {
    background-color: #737373;
    width: 100%;
    margin: 0;
    height: 100%;
    padding: 0;
}

#header-bar {
    width: 100%;
    display: flex;
}

.circle {
    display: block;
    justify-content: center;
    align-items: center;
}

.display-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}